.purple {
	background-color: rgba(255, 255, 255, 0); 
	color: rgb(227, 122, 248);
}
.center{
	margin: auto;
	display: block;
}
@media (prefers-color-scheme: dark){
	html{
		background-color: black;
		color: white;
	}
}
.hidden{
	display: none
}