.menu {
	text-align: center;
	margin-top: 10px;
 }
 
 .menu a {
	display: inline;
 }
 
 .menu li {
	float: none;
	display: inline;
 }
 body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 100vh;
  }
  .showcase {
	position: fixed;
	opacity: .5;
	align-items: center;
    justify-content: center;
  }
nav{
	background-color: #dfa5fa;
	padding: 5px;
  }
  
  nav ul{
	list-style-type: none;
	display: inline;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
  }
  
  nav a{
	color: rgb(255, 255, 255);
  }
  
  @media (max-width: 768px){
	nav ul{
	  display: block;
	}
	nav li{
	  margin: auto;
	  padding: 10px;
	  text-align: center;
	}
	@media (prefers-color-scheme: dark){
		html{
			background-color: black;
			color: white;
		}
	}
  }
  
#page-title{
	color: #744253;
	font-size: 45px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.About{
	color: #C78283;
	font-size: 25px;
	text-decoration: underline;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paragraph{
	color: #7D6167;
	font-size: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: upper-roman;
	color: #7D6167;
}

p{ 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #7D6167;
	font-style: italic;
	font-size: 12px;
}

